### Print

In [ ]:
print ("Hello World !")

### Variables and Types

**Numbers - Integers and Floats**

In [1]:
integer = 7

In [2]:
print (integer)

7

In [3]:
ffloat = 7.01

In [4]:
print (ffloat)

7.01

In [5]:
ffloat1 = float(integer); print (ffloat1)

7.0

In [6]:
integer1 = int(ffloat); print (integer1)

7

**Strings**

In [7]:
shout = "Hello World !"

In [8]:
print (shout)

Hello World !

In [9]:
I, shout = "My", "Hello World !"

In [10]:
print (I, shout)

My Hello World !

### Basic Operators ( +  -  *  /  % )

In [11]:
x = 11
y = 5

In [12]:
print (x + y)

16

In [13]:
print (x - y)

6

In [14]:
print (x * y)

55

In [15]:
print (x / y)

2.2

In [16]:
print (x % y)

1

In [17]:
a = "Hello"
b = "World"

In [18]:
print (a + b)

HelloWorld

In [22]:
print (a + y)

TypeError: Can't convert 'int' object to str implicitly

In [23]:
print (a * y)

HelloHelloHelloHelloHello

### List [ ]

In [25]:
mylist = [2,5,7,8,9,3]

In [26]:
print (type(mylist)) #type function gives the type of variable used

<class 'list'>

In [27]:
mylist

[2, 5, 7, 8, 9, 3]

In [28]:
print (mylist)

[2, 5, 7, 8, 9, 3]

In [29]:
len(mylist)

6

In [32]:
# Index
mylist[0]

2

In [33]:
# Slice
mylist[2:5] #slicing based on index

[7, 8, 9]

In [34]:
mylist.append(1)

In [35]:
print(mylist)

[2, 5, 7, 8, 9, 3, 1]

In [37]:
mylist = [9] + mylist; mylist

[9, 2, 5, 7, 8, 9, 3, 1]

In [38]:
mylist.remove(1); mylist

[9, 2, 5, 7, 8, 9, 3]

In [47]:
del mylist[3]; mylist

[9, 2, 5, 9]

In [44]:
fruits = ("apple", "pear", "fig")

In [45]:
fruits = list(fruits); fruits

['apple', 'pear', 'fig']

### Conditions
if (statement is true)<br>
---> (do something)

elseif (another statement is true)<br>
---> (do another thing)

else<br>
---> (do some other thing)

In [48]:
name = "John"
height = 179
weight = 89

In [51]:
# note colon and indentation
# comparison operators
if (name == "John"):
    print ("he is",name)

he is John

In [53]:
myheight = 190

In [58]:
if (myheight < height):
    print ("I am taller than John")
else: print("I'm not taller than john")

I'm not taller than john

In [60]:
# logical operators
if (name == "John") and (height == 180):
    print ("he is",name)
elif weight == 90:
    print ("he is definitely John")
else:
    print ("he is not John")

he is not John

### Loops

In [63]:
# FOR loop - iterate over a sequence of numbers/items

for i in range(1,10,2):
    print (i)

1
3
5
7
9

In [64]:
yourlist = [3, 8, 5, 7, 9, 6]

In [67]:
for i in range(3):
    print (yourlist[i])

3
8
5

In [68]:
for i in range(6):
    print ("i :", i)
    if (i in yourlist):
        break
    print (yourlist[i])

i : 0
3
i : 1
8
i : 2
5
i : 3

In [69]:
# WHILE loop

i = 8
while i>2:
    i = i - 1
    print (i)

7
6
5
4
3
2

## BINGO TIME !

In [71]:
John = [5, 10, 15, 20, 25, 30]
Mary = [3, 7, 11, 15, 19, 23]

In [72]:
import random #Random is library

In [73]:
Shazam = random.sample(range(1,31),6)

In [74]:
Shazam

[4, 21, 24, 18, 9, 28]

In [75]:
number_box = list(range(1,31))

In [76]:
print (number_box)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30]

In [77]:
for i in range(1,31):
    pick_number = random.choice(number_box)
    print (pick_number)
    number_box.remove(pick_number)

4
1
6
9
3
5
14
11
30
25
15
26
8
13
18
29
10
21
27
23
17
28
7
24
16
2
12
19
20
22

In [78]:
# Reinitialise
John = [5, 10, 15, 20, 25, 30]
Mary = [3, 7, 11, 15, 19, 23]
Shazam = random.sample(range(1,31),6)
number_box = list(range(1,31))

In [79]:
for i in range(1,31):
    pick_number = random.choice(number_box)
    print ("Number picked is ",pick_number)
    
    if pick_number in John:
        John.remove(pick_number)
        print ("John crosses out ", pick_number)
        print ("John : ",John)
        if len(John) == 0:  # nested if
            print ("John wins !")
            break
            
    if pick_number in Mary:
        Mary.remove(pick_number)
        print ("Mary crosses out ", pick_number)
        print ("Mary : ",Mary)
        if len(Mary) == 0:
            print ("Mary wins !")
            break
            
    if pick_number in Shazam:
        Shazam.remove(pick_number)
        print ("Shazam crosses out ", pick_number)
        print ("Shazam : ",Shazam)
        if len(Shazam) == 0:
            print ("Shazam wins !")
            break
            
    number_box.remove(pick_number)

Number picked is  14
Number picked is  24
Number picked is  16
Number picked is  8
Number picked is  28
Shazam crosses out  28
Shazam :  [27, 12, 18, 29, 15]
Number picked is  23
Mary crosses out  23
Mary :  [3, 7, 11, 15, 19]
Number picked is  25
John crosses out  25
John :  [5, 10, 15, 20, 30]
Number picked is  15
John crosses out  15
John :  [5, 10, 20, 30]
Mary crosses out  15
Mary :  [3, 7, 11, 19]
Shazam crosses out  15
Shazam :  [27, 12, 18, 29]
Number picked is  7
Mary crosses out  7
Mary :  [3, 11, 19]
Number picked is  13
Number picked is  22
Number picked is  1
Number picked is  6
Number picked is  10
John crosses out  10
John :  [5, 20, 30]
Number picked is  5
John crosses out  5
John :  [20, 30]
Number picked is  4
Number picked is  18
Shazam crosses out  18
Shazam :  [27, 12, 29]
Number picked is  21
Number picked is  9
Number picked is  12
Shazam crosses out  12
Shazam :  [27, 29]
Number picked is  26
Number picked is  19
Mary crosses out  19
Mary :  [3, 11]
Number picked is  30
John crosses out  30
John :  [20]
Number picked is  11
Mary crosses out  11
Mary :  [3]
Number picked is  2
Number picked is  20
John crosses out  20
John :  []
John wins !