In [4]:
import mysql.connector as msq
import pandas as pd
import numpy as np

In [5]:
df = pd.read_csv("/Users/naveen/Documents/python_code/Test/dataset-Sg/singapore-citizens.csv")

In [19]:
len_columns= len(df.columns)
print(len_columns)

4

In [23]:
for a in range(0,len_columns):
    print(df.columns[a])

year
level_1
level_2
value

In [24]:
df.dtypes()

TypeError: 'Series' object is not callable

In [ ]:
connection = msq.connect(host = '192.168.0.112',
                         port = '3307',                    
                       user = 'naveen',
                       password = 'naveen',
                        database = 'NAVEEN')
cursor = connection.cursor()
for a in range (0,len_columns):
    cursor.execute("CREATE TABLE sg_citizens ("+df.columns[0]+"int,  
                  )")
/*mycursor.execute("CREATE TABLE customers (name VARCHAR(255), address VARCHAR(255))")*/

In [6]:
connection = msq.connect(host = '192.168.0.112',
                         port = '3307',                    
                       user = 'naveen',
                       password = 'naveen',
                        database = 'NAVEEN')
cursor = connection.cursor()
cursor.execute("select Host, USer from mysql.user group by user")
myresult = cursor.fetchall()
for x in myresult:
    print(x)
connection.close()

('192.168.0.109', 'naveen')
('192.168.0.109', 'nikhil')
('127.0.0.1', 'root')

In [34]:
connection = msq.connect(host = '192.168.0.112',
                         port = '3307',                    
                       user = 'naveen',
                       password = 'naveen',
                        database = 'NAVEEN')
cursor = connection.cursor()
cursor.execute("select * from test")
myresult = cursor.fetchall()
for x in myresult:
    print(x)
connection.close()

(1, 'Naveen')