In [22]:
import mysql.connector as msq
import pandas as pd
import numpy as np
import sqlalchemy as sql
import pymysql

In [23]:
df = pd.read_csv("/Users/naveen/Documents/python_code/Test/dataset-Sg/singapore-citizens.csv")

In [24]:
len_columns= len(df.columns)
print(len_columns)

4

In [25]:
for a in range(0,len_columns):
    print(df.columns[a])

year
level_1
level_2
value

In [26]:
df.dtypes

year        int64
level_1    object
level_2    object
value      object
dtype: object

In [32]:
df.head(2)

   year        level_1        level_2   value
0  1970  Total Citizen  0  -  4 Years  226454
1  1970  Total Citizen  5  -  9 Years  267122

In [28]:
print(df[1:2])

   year        level_1        level_2   value
1  1970  Total Citizen  5  -  9 Years  267122

In [31]:
database_connection = sql.create_engine('mysql+pymysql://naveen:naveen@192.168.0.112:3307/NAVEEN')
df.to_sql(con=database_connection, name='sg_citizen', if_exists='replace')

In [56]:
connection = msq.connect(host = '192.168.0.112',
                         port = '3307',                    
                       user = 'naveen',
                       password = 'naveen',
                        database = 'NAVEEN')
cursor = connection.cursor()
--cursor.execute("CREATE TABLE sg_citizens ("+df.columns[0]+" int,"+df.columns[1]+" varchar(255),"+df.columns[2]+" varchar(255),"+df.columns[3]+" int)")

df.to_sql(con=connection, name='sg_citizens', if_exists='replace')
connection.close()

DatabaseError: Execution failed on sql 'SELECT name FROM sqlite_master WHERE type='table' AND name=?;': Not all parameters were used in the SQL statement

In [11]:
connection = msq.connect(host = '192.168.0.112',
                         port = '3307',                    
                       user = 'naveen',
                       password = 'naveen',
                        database = 'NAVEEN')
cursor = connection.cursor()
cursor.execute("select * from sg_citizens")
myresult = cursor.fetchall()
for x in myresult:
    print(x)
connection.close()

In [12]:
connection = msq.connect(host = '192.168.0.112',
                         port = '3307',                    
                       user = 'naveen',
                       password = 'naveen',
                        database = 'NAVEEN')
cursor = connection.cursor()
cursor.execute("select * from test")
myresult = cursor.fetchall()
for x in myresult:
    print(x)
connection.close()

(1, 'Naveen')