In [5]:
import pandas as pd
import numpy as np

In [2]:
import openpyxl
import mysql.connector as msq

In [3]:
connection = msq.connect(host = '192.168.0.112',
                         port = '3307',                    
                       user = 'naveen',
                       password = 'naveen',
                        database = 'NAVEEN')
cursor = connection.cursor()
cursor.execute("select Host, USer from mysql.user group by user")
myresult = cursor.fetchall()
for x in myresult:
    print(x)
connection.close()

('192.168.0.109', 'naveen')
('192.168.0.109', 'nikhil')
('127.0.0.1', 'root')

# Test

I am creating a test code here

In [6]:
df = pd.read_csv("/Users/naveen/Documents/python_code/Test/red-wine-quality - red-wine-quality.csv")

In [7]:
df.columns

Index(['Unnamed: 0', 'fixed_acidity', 'volatile_acidity', 'citric_acid',
       'residual_sugar', 'chlorides', 'free_sulfur_dioxide',
       'total_sulfur_dioxide', 'density', 'pH', 'sulphates', 'alcohol',
       'target_quality'],
      dtype='object')

In [16]:
df.alcohol.head()

0    9.4
1    9.8
2    9.8
3    9.8
4    9.4
Name: alcohol, dtype: float64

In [17]:
df[df.alcohol>8].head()

,Unnamed: 0,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,pH,sulphates,alcohol,target_quality
0,0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

In [18]:
def add(a,b):
    return a+b

In [19]:
add(3,4)

7

In [20]:
sum(df.chlorides)

139.8589999999996

In [8]:
mean(df.chlorides)

NameError: name 'mean' is not defined